body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#location-1 {
  background-color: rgb(135, 146, 198);
}

#location-2 {
  background-color: rgb(134, 171, 114);
}

.location {
  padding: 20px;
}

.location iframe {
  width: 100%;
  height: 300px;
}

.location textarea {
  width: 100%;
  height: 150px;
}

#move {
  font-weight: bold;
  font-size: medium;
}
